body {
    font-family: 'Outfit', sans-serif;
    background-color: #121826;
    background-image: url('resources/Background_image.svg');
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #E5E7EB;
}

h2 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #E5E7EB;
}

p {
    font-size: 1rem;
    font-weight: 400;
    color: #D2D5DA;
}

.card {
    background-color: #212936;
    
}


@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    body {
        background-image: url('resources/Background_image@2x.png');
    }
}

@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
    body {
        background-image: url('resources/Background_image@3x.png');
    }
}